.header{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    justify-content: space-between;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header img{
    height: 64px;
}

.header a p{
    margin: auto 25px;
}
