.footer{
    position: fixed;
    margin-top: 15px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    padding: 15px;
}

.footer > span{
    font-size: 1.1rem;
    font-weight: 300;
}
